{% extends "base.html" %}
{% load static %}

{% block conteudo %}

<div class="container mt-5 d-flex">
    <img class ='tamanho-imagem border border-dark rounded-circle' src ="{{noticia.user.userprofile.profile_image.url}}">
    <h1 class ='mt-5 ms-5'>{{noticia.user}}</h1>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12  tamanho-area p-2"> 
        <span class ='fs-4'>
        {{noticia.notice}}
        </span>

        </div>
        <div class="col-12">
            <span class ='float-end fs-5'>{{noticia.data}}</span>
        </div>
        <!--Botão para voltar ao mural-->
        <div class="col mt-5">
            <a href="{% url "mural" %}" class ='d-flex'>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
              </svg><span class ='fs-3 ms-2'>Voltar</span></a>
        </div>
        <!--Fim do botão de voltar para o mural-->
    </div>
</div>
{% endblock conteudo %}