.tamanho-img{
    width: 80px;
}
.tamanho-img-perfil{
    width: 50px;
}

    
    .scrollable-div {
        
        /* largura da div */
        max-width: 900px;
        margin: 0 auto;
        height: 420px;
        /* altura máxima antes da barra de rolagem */
        overflow-y: auto;
        /* Adiciona barra de rolagem vertical quando necessário */
        border: none;
        /* Apenas para visualização */
        margin-top: 20px;
        background-color: bisque;
        border-radius: 10px;
        padding: 20px;
    }
    .points:hover{
      background-color: rgb(245, 210, 168);
      height: 25px;
      border-radius: 7px;
    }

    .mudar_cor{
      background-color: rgba(255, 230, 7, 0.671)
    }